<%- include('../layouts/header.ejs') %>
<%- include('../users/userHeader.ejs') %>

<section class="container" style="margin-top: 30px;">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-8"> <!-- Adjust width on smaller screens -->
            <img src="/img/error_404.gif" class="img-fluid" alt="Error 404"> <!-- Make image responsive -->
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-md-6 col-sm-8 mb-3"> <!-- Adjust width on smaller screens -->
            <a href="/home" class="btn btn-success btn-block">Back to home page</a> <!-- Make button full width -->
        </div>
    </div>
</section>

<%- include('../users/userFooter.ejs') %>
<%- include('../layouts/footer.ejs') %>
