
<%-include('../layouts/header.ejs') %>
<%-include('../users/userHeader.ejs') %>

                    <!-- Change Password Modal -->
                    <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="changePasswordModalLabel">Change Your Password</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form id="changePasswordForm" action="/editMyPassword" method="post">
                                        <!-- Current password -->
                                        <div class="form-group">
                                            <label for="currentPassword">Current password *</label>
                                            <input type="password" class="form-control" name="currentPassword" style="background-color: #e9ecef;" id="currentPassword">
                                        </div>
                                        <!-- New password -->
                                        <div class="form-group">
                                            <label for="newPassword">New password *</label>
                                            <input style="background-color: #e9ecef;" type="password" name="newPassword" class="form-control" id="newPassword">
                                        </div>
                                        <!-- Confirm password -->
                                        <div class="form-group">
                                            <label for="confirmPassword">Confirm password *</label>
                                            <input style="background-color: #e9ecef;" type="password" name="confirmPassword" class="form-control" id="confirmPassword">
                                        </div>
                                        <div class="mb-3">
                                            <button type="button" class="btn btn-dark" onclick="submitEditMyPassword()">Save Changes</button>
                                        </div>                                        
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

<%-include('../users/userFooter.ejs') %>
<%-include('../layouts/footer.ejs') %>