

<%- include('../layouts/header.ejs') %>
<%- include('../users/userHeader.ejs') %>



<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Order Placed</h4>
                    <div class="breadcrumb__links">
                        <a href="./index.html">Home</a>
                        <span>Order Placed</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section style="height: max-content;">
    
    <div style="width: 50%; margin: auto;">
        <img src="/img/order-confirmed.jpg" width="100%" alt="">
    </div>
    <div style="display: flex; justify-content: center; margin-bottom: 30px;">
        <a href="/home">
            <button class="btn btn-success" style="margin-right: 5px;">Continue shopping</button>
        </a>
        <a href="/myOrders">
            <button class="btn text-white" style="background-color: #44007c;">View order</button>
        </a>
    </div>
</section>

<%-include('../users/userFooter.ejs') %>
<%- include('../layouts/footer.ejs') %>