<%- include('../layouts/header.ejs') %>
<%- include('../users/userHeader.ejs') %>

<!-- Add new address modal -->
<div class="modal fade" id="addAddressModal" tabindex="-1" aria-labelledby="addAddressModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addAddressModalLabel">Add New Address</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addAddressForm" action="/saveAddress" method="post">
                    <div class="mb-3">
                        <label for="fullName" class="form-label">Full Name<span>*</span></label>
                        <input type="text" class="form-control" id="fullName" name="fullName" required>
                    </div>

                    <div class="mb-3">
                        <label for="country" class="form-label">Country<span>*</span></label>
                        <input type="text" class="form-control" id="country" name="country" required>
                    </div>

                    <div class="mb-3">
                        <label for="addressLine" class="form-label">Address<span>*</span></label>
                        <textarea class="form-control" id="addressLine" name="addressLine" rows="3" required></textarea>
                    </div>

                    <div class="mb-3">
                        <label for="locality" class="form-label">Locality<span>*</span></label>
                        <input type="text" class="form-control" id="locality" name="locality" required>
                    </div>

                    <div class="mb-3">
                        <label for="city" class="form-label">Town/City/District<span>*</span></label>
                        <input type="text" class="form-control" id="city" name="city" required>
                    </div>

                    <div class="mb-3">
                        <label for="state" class="form-label">State<span>*</span></label>
                        <input type="text" class="form-control" id="state" name="state" required>
                    </div>

                    <div class="mb-3">
                        <label for="pinCode" class="form-label">Postcode / ZIP<span>*</span></label>
                        <input type="number" class="form-control" id="pinCode" name="pinCode" required>
                    </div>

                    <div class="mb-3">
                        <label for="phone" class="form-label">Phone<span>*</span></label>
                        <input type="number" class="form-control" id="phone" name="phone" required>
                    </div>

                    <div class="text-center">
                        <button type="submit" id="newAddressSubmitBtn" class="btn btn-dark">Save Address</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Button to trigger the modal -->
<button type="button" class="btn text-white" style="background-color: #44007c" onclick="openAddAddressModal()">
    Add new address
</button>

<script>
    // Function to open the add address modal
    function openAddAddressModal() {
        $('#addAddressModal').modal('show');
    }
</script>

<%-include('../users/userFooter.ejs') %>

<%- include('../layouts/footer.ejs') %>
